{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": "ie >= 11"
      }
    ]
  ],
  "sourceType": "unambiguous",
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-transform-runtime"
  ]
}
